<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>initServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.Init</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.Upload</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>uploadfokodServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.Uploadfokod</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>uploadalkodServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.Uploadalkod</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>downloadServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.Download</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>syncronServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.Syncron</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>serviceServlet</servlet-name>
    <servlet-class>hu.dekortrade.server.DekorTradeServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>initServlet</servlet-name>
    <url-pattern>/dekortrade/init</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>/dekortrade/upload</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>uploadfokodServlet</servlet-name>
    <url-pattern>/dekortrade/uploadfokod</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>uploadalkodServlet</servlet-name>
    <url-pattern>/dekortrade/uploadalkod</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>downloadServlet</servlet-name>
    <url-pattern>/dekortrade/download</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>syncronServlet</servlet-name>
    <url-pattern>/dekortrade/syncron</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>serviceServlet</servlet-name>
    <url-pattern>/dekortrade/service</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>DekorTrade.html</welcome-file>
  </welcome-file-list>

</web-app>
