.top
{
	background-color : #EFE3AF;
} 

.middle
{
	background-color : #FCF8E6;
} 

.bottom
{
	background-color : #7D3C3F;
} 

.version_label{
  font-weight:normal;
  font-style:italic;
}	

.header1{
  font-size:250%;
  font-style:bold;
}
.header2{
  font-size:150%;
  font-style:bold;
}		
.header3{
  font-size:100%;
  font-style:bold; 
}	
